//////////////////////
// VARIABLES

//// MARGIN
$margin-side: 6rem;
$margin-side-sm: 3.5rem;
$margin-side-xs: 2rem;


//// COLORS
$color-primary: #ff52bf; // - Pink

$color-neutral-1: #ebfbff; // - Very Pale Cyan
$color-neutral-2: #00252e; // - Very Dark Cyan
$color-neutral-3: #808d99; // - Grayish Blue

//// Typography
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

$font-size-body: 1.8rem; // 18px
$font-family-headings: 'Poppins', sans-serif;  // weight: 600
$font-family-body: 'Open Sans', sans-serif;  // weight: 400, 700



//////////////////////
// RESETS
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

    @include respond-to(laptop) {
        font-size: 56.25%; // 1rem = 9px
    }
    
    @include respond-to(tab-land) {
        font-size: 50%; // 1rem = 8px
    }
    @include respond-to(mobile-sm) {
        font-size: 43.75%; // 1rem = 7px
    }
}


//////////////////////
// CONFIG 
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headings;
    font-weight: 600;
}

body {
    font-family: $font-family-body;
    color: $color-neutral-2;
    font-size: 1.8rem;

    @include respond-to(laptop) {
        font-size: 1.6rem;
    }
}

/////////////////////////////
// UTILITIES
.u-margin-bottom-xs {margin-bottom: 1rem}
.u-margin-bottom-sm {margin-bottom: 2rem}
.u-margin-bottom-md {margin-bottom: 3rem}